<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="gsb2025Entities" connectionString="metadata=res://*/GsbModel.csdl|res://*/GsbModel.ssdl|res://*/GsbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DellYounssi10\ARSLANE;initial catalog=gsb2025;integrated security=True;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Mission3GSB.Properties.Settings.gsb2025ConnectionString"
      connectionString="Data Source=DellYounssi10\ARSLANE;Initial Catalog=gsb2025;Integrated Security=True;Encrypt=False"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>